@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ma sinh vien: 2310900056</p>
<p>ho vca ten: vu khanh linh</p>
<p>email: vulinhj@gmail.com</p>
<p>so dien thoai: 06944745748</p>
<p>ngay sinh: 24/03/2005</p>
<p>lop: K23CNT2</p>