
@{
    ViewData["Title"] = "thong tin sinh vien";
}

<div class="alert alert-info">
    <h1>thong tin sinh vien </h1>
    <hr />
    <p>Ma sinh vien: 2310900056</p>
    <p>ho va ten: Vu Linh</p>
    <p>lop: k23Cnt2</p>
    <p>email:vulinhj@gmail.com</p>
    <p>dien thoai:0548446748</p>

</div>
