@{
    ViewData["Title"] = "thong tin sinh vien";
}
<div class="alert aletr-info">
    <h1>@ViewData["Title"]</h1>
    <p>ma sinh vien:2310900056</p>
    <p>ho va ten: vu khanh linh</p>
    <p>email: vulinhj@gmail.com</p>
    <p>dien thoai:05575875</p>
    <p>lop: K23CNT2</p>
</div>
