
@{
	ViewData["Title"] = "thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<dis class="alert alert-info">
	<p>Ma sinh vien: 2310900056</p>
	<p>ho va ten: Vu khanh linh</p>
	<p>Email:vulinhj@gmail.com</p>
	<p>dien thoai: 00545741547</p>
	<p>lop: K23cnt2</p>
</dis>
