@{
    ViewData["Title"] = "thông tin sinh viên ";
}
<h1>@ViewData["Title"]</h1>

<p>mã sinh viên: 231900056</p>
<p>họ và tên: Vu khánh linh</p>
<p>lớp: K23CNT2</p>
<p>email: vulinhj@gmail.com</p>
<p>điện thoại:054594545</p>
