@{
    ViewData["Title"] = "thong tin sinh vien";
}

<div class="alert alert-info">
<h1>@ViewData["Title"]</h1>
    <hr/>
    <p>ma sinh vien: 2310900056</p>
    <p>ho va ten: vu khanh linh</p>
    <p>email: vulinhj@gmail.com</p>
    <p>dien thoai: <a href="tel.05945566465">05198444994</a></p>
    <p>lop: K23CNT2</p>
</div>
<p>Use this page to detail your site's privacy policy.</p>