@{
    ViewData["Title"] = "thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>ma sinh vien: 2310900056</p>
    <p>ho va ten: vu khanh linh</p>
    <p>ngay sinh: 240/03/2005</p>
    <p>email: vulinhj@gmail.com</p>
    <p>dien thoai: 062946454894</p>
    <p>lop: K23CNT2</p>
</div>
